<div class="main-container">
    <h3>Switch directive</h3>

    <p>Type: danger | warning | info | success</p>

    <input [(ngModel)]="alerta" />

    <div [ngSwitch]="alerta">
        <div class="alert alert-success" *ngSwitchCase="'success'" role="alert">
            <strong>Well done!</strong> You successfully read this important alert message.
        </div>
        <div class="alert alert-info" *ngSwitchCase="'info'" role="alert">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </div>
        <div class="alert alert-warning" *ngSwitchCase="'warning'" role="alert">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
        <div class="alert alert-danger" *ngSwitchCase="'danger'" role="alert">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
        <div *ngSwitchDefault>Type something above :)</div>
    </div>

</div>