<div class="main-container">
    <div class="alert" [ngClass]="{'alert-info': isInfo, 'alert-danger' : !isInfo }" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>

    <button class="btn" [ngClass]="{'btn-info': isInfo, 'alert-danger' : !isInfo }" (click)="makeItDanger()">
      <span *ngIf="isInfo">Make it dangerous!</span>
      <span *ngIf="!isInfo">Make it info!</span>
    </button>

    <h3 [ngClass]="{'text-success': properties.success, 'text-warning' : !properties.success }">NgClass Example</h3>
    <button class="btn btn-info" (click)="doTextChange()"> Change object property
    </button>

    <h3 class="async-process" [appResaltado]="'yellow'"> Async process</h3>

    <button class="btn btn-primary" type="button" [disabled]="isLoading" (click)="saveSomething()">
      <i class="fa fa-save" [ngClass]="{'fa-save': !isLoading , 'fa-refresh fa-spin' : isLoading }" aria-hidden="true"></i>
      <span *ngIf="!isLoading">Save</span>
      <span *ngIf="isLoading">Loading ...</span>
    </button>
</div>